<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="创建hellow，  使用 v-for， 使用交互方法">
    <title>vue 入门</title>
</head>
<body>
    <script src="../../vue.js" type="text/javascript"></script>
    <!-- 
        1. Vue 初体验: 创建一个hellow文件
            1. 创建html 文件， 使用内联模式引入 vue.js文件
            2. 创建一个ID 为 app 的div元素
                1. 在<script> 标签内 创建一个常量 app ， 将创建的vue实例赋值给常量 
                    1. el => element 元素
                    2. data 在此处 与模块的data(){return {}}  不同, 组件中的data必须是个函数
                    3. vue实例的数据是响应式的  =>?  当在页面开发者工具consle处 修改 
                       app.data.message 的值后， 页面  message 的值也会跟着修改
                    4. 在html标签内 插入值 =》 mustache 语法  {{}}
                    5. mustache 语法 内 不仅可以插入值，  也可以使用表达式
      -->
    <div id="app">
        {{message}}
        {{message + sex}}
    </div>
    <script>
        // const 常量   let 变量
        const app = new Vue({
            el: "#app",
            data: {
                message: "hellow",
                sex: '难'
            }
        })
    </script>
    <!-- 
        2. 使用循环 v-for 
            1. 创建 vue实例， 绑定元素 circulation  => 循环
            2. v-for 的值 中， 多个单词用逗号隔开， 并使用括号v-for="(item, index) in move"
            3. 一般的 使用了 循环语法， 后带  :key="index"  
     -->
     <div id="circulation">
        <ul>
            <li v-for="(item, index) in move" :key="index">{{item}}</li>
        </ul>
    </div>
    <script>
        const circulation = new Vue({
            el: "#circulation",
            data: {
                move: ['奥特曼', '哪吒','娜扎','娃哈哈']
            }
        })
    </script>

    <!-- 
        3. 点击按钮 修改 count 的值
            1. 创建computed元素
            2. 班定 count 数据
            3. 添加methods 方法， 使用 v-on:click 方法  语法糖：@
     -->
     <div id="computed">
        <div>
            <p>{{count}}</p>
            <button @click="increase">+</button><button v-on:class="decrease">-</button>
        </div>
    </div>
    <script>
        const computed = new Vue({
            el: "#computed",
            data: {
                count: 1,
                currentIndex: 0
            },
            methods: {
                // increase 增加  decrease 减少
                // 下面的方法为 ES6写法 increase() {}  ===    increase: function() {}
                increase() {
                    this.count++
                },
                decrease: function() {
                    this.count--
                }
            }
        })
    </script>
        <!--
            4.  MVVM  =>  model  view  view-model  数据， 视图， 视图模型 
            5.  
                1. methods 方法  
                2. function 函数
                3. Vue的生命周期
                4. 挂载
                5. 钩子
                6. 回调函数
        -->

</body>
</html>